# 管理员账号
BASIC_USER=admin

# 管理员密码
BASIC_PASS=admin

# 普通用户账号
REGULAR_USER=user

# 普通用户密码
REGULAR_PASS=user123

# NextAuth JWT 密钥 (请生产环境使用随机生成的密钥)
SECRET=00Fv/YUm0enwy04IgP4KoNOWLODe2iJ1tvBzr+4kEZ8=

# 是否启用 API 认证 (true/false)
ENABLE_AUTH_API=false
